USE [master]
GO
/****** Object:  Database [VehicleTracking]    Script Date: 12/19/2021 8:35:05 AM ******/
CREATE DATABASE [VehicleTracking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehicleTracking', FILENAME = N'D:\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VehicleTracking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehicleTracking_log', FILENAME = N'D:\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VehicleTracking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehicleTracking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehicleTracking]
GO
/****** Object:  User [api]    Script Date: 12/19/2021 8:35:05 AM ******/
CREATE USER [api] FOR LOGIN [api] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [api]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/19/2021 8:35:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](32) NOT NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTANCE]    Script Date: 12/19/2021 8:35:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTANCE](
	[ID_VEHICLE] [varchar](9) NOT NULL,
	[DIST] [float] NOT NULL,
	[TIMERECEIVE] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCHEDULE]    Script Date: 12/19/2021 8:35:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULE](
	[VEHICLE_ID] [varchar](9) NOT NULL,
	[START_TIME] [datetime] NOT NULL,
	[START_X] [float] NOT NULL,
	[START_Y] [float] NOT NULL,
	[FINISH_TIME] [datetime] NOT NULL,
	[FINISH_X] [float] NOT NULL,
	[FINISH_Y] [float] NOT NULL,
	[STATUS] [int] NULL,
	[FINISH] [datetime] NULL,
 CONSTRAINT [PK_SCHEDULE] PRIMARY KEY CLUSTERED 
(
	[VEHICLE_ID] ASC,
	[START_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRACKING]    Script Date: 12/19/2021 8:35:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACKING](
	[ID_VEHICLE] [varchar](9) NOT NULL,
	[TRACKTIME] [datetime] NOT NULL,
	[X] [float] NOT NULL,
	[Y] [float] NOT NULL,
 CONSTRAINT [PK_TRACKING] PRIMARY KEY CLUSTERED 
(
	[ID_VEHICLE] ASC,
	[TRACKTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/19/2021 8:35:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[GENDER] [bit] NOT NULL,
	[PHONE] [varchar](10) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[PHOTO] [varchar](100) NULL,
	[USERNAME] [varchar](100) NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICLE]    Script Date: 12/19/2021 8:35:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICLE](
	[ID] [varchar](9) NOT NULL,
	[TITLE] [nvarchar](100) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[DELAY_TIME] [int] NULL,
 CONSTRAINT [PK_VEHICLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD]) VALUES (N'hinhin', N'123')
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD]) VALUES (N'nguyenvanthanh', N'123')
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD]) VALUES (N'nvanthanh', N'123')
GO
INSERT [dbo].[DISTANCE] ([ID_VEHICLE], [DIST], [TIMERECEIVE]) VALUES (N'66N112345', 2.7520000000000002, CAST(N'2021-12-14T22:06:21.373' AS DateTime))
INSERT [dbo].[DISTANCE] ([ID_VEHICLE], [DIST], [TIMERECEIVE]) VALUES (N'66N112345', 3.7520000000000002, CAST(N'2021-12-12T19:08:00.000' AS DateTime))
GO
INSERT [dbo].[SCHEDULE] ([VEHICLE_ID], [START_TIME], [START_X], [START_Y], [FINISH_TIME], [FINISH_X], [FINISH_Y], [STATUS], [FINISH]) VALUES (N'66N112345', CAST(N'2021-11-07T19:08:00.000' AS DateTime), 10.84844, 106.78722, CAST(N'2021-11-08T20:19:00.000' AS DateTime), 10.83766, 106.77905, 0, NULL)
INSERT [dbo].[SCHEDULE] ([VEHICLE_ID], [START_TIME], [START_X], [START_Y], [FINISH_TIME], [FINISH_X], [FINISH_Y], [STATUS], [FINISH]) VALUES (N'66N112345', CAST(N'2021-11-12T19:08:00.000' AS DateTime), 10.84844, 106.78722, CAST(N'2021-11-15T20:19:00.000' AS DateTime), 10.83766, 106.77905, 1, NULL)
INSERT [dbo].[SCHEDULE] ([VEHICLE_ID], [START_TIME], [START_X], [START_Y], [FINISH_TIME], [FINISH_X], [FINISH_Y], [STATUS], [FINISH]) VALUES (N'66N112345', CAST(N'2021-11-18T19:08:00.000' AS DateTime), 10.84844, 106.78722, CAST(N'2021-11-22T20:19:00.000' AS DateTime), 10.83766, 106.77905, -1, NULL)
GO
INSERT [dbo].[TRACKING] ([ID_VEHICLE], [TRACKTIME], [X], [Y]) VALUES (N'66N112345', CAST(N'2021-11-18T23:06:24.837' AS DateTime), 21.1489661, 107.111142)
INSERT [dbo].[TRACKING] ([ID_VEHICLE], [TRACKTIME], [X], [Y]) VALUES (N'66N112345', CAST(N'2021-11-18T23:06:24.913' AS DateTime), 21.148655899999998, 107.1115777)
INSERT [dbo].[TRACKING] ([ID_VEHICLE], [TRACKTIME], [X], [Y]) VALUES (N'66N112345', CAST(N'2021-11-18T23:06:26.910' AS DateTime), 21.149279999999997, 107.1112727)
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID], [NAME], [GENDER], [PHONE], [EMAIL], [PHOTO], [USERNAME]) VALUES (1, N'Nguyễn Văn Thành', 1, N'0123456789', N'vanthanhnguyen43@gmail.com', NULL, N'vanth')
INSERT [dbo].[USERS] ([ID], [NAME], [GENDER], [PHONE], [EMAIL], [PHOTO], [USERNAME]) VALUES (2, N'Ngọc Ngọc', 0, N'098123123', N'example@gmail.com', NULL, N'hinhin')
INSERT [dbo].[USERS] ([ID], [NAME], [GENDER], [PHONE], [EMAIL], [PHOTO], [USERNAME]) VALUES (6, N'Nguyễn Văn Thành', 1, N'0986114310', N'vanthanhnguyen43@gmail.com', NULL, N'vanthanh')
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO

INSERT [dbo].[VEHICLE] ([ID], [TITLE], [ID_USER], [DELAY_TIME]) VALUES (N'66N112345', N'Xe chở hàng', 1, 3)s
INSERT [dbo].[VEHICLE] ([ID], [TITLE], [ID_USER], [DELAY_TIME]) VALUES (N'66N112346', N'Xe đi chợ', 1, 6)
INSERT [dbo].[VEHICLE] ([ID], [TITLE], [ID_USER], [DELAY_TIME]) VALUES (N'66N199999', N'xe', 1, 3)
INSERT [dbo].[VEHICLE] ([ID], [TITLE], [ID_USER], [DELAY_TIME]) VALUES (N'66NA12345', N'Xe đi học', 1, 3)
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_USERS_USERNAME]    Script Date: 12/19/2021 8:35:06 AM ******/
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [UK_USERS_USERNAME] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULE_VEHICLE] FOREIGN KEY([VEHICLE_ID])
REFERENCES [dbo].[VEHICLE] ([ID])
GO
ALTER TABLE [dbo].[SCHEDULE] CHECK CONSTRAINT [FK_SCHEDULE_VEHICLE]
GO
ALTER TABLE [dbo].[TRACKING]  WITH CHECK ADD  CONSTRAINT [FK_TRACKING_VEHICLE] FOREIGN KEY([ID_VEHICLE])
REFERENCES [dbo].[VEHICLE] ([ID])
GO
ALTER TABLE [dbo].[TRACKING] CHECK CONSTRAINT [FK_TRACKING_VEHICLE]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_ACCOUNT] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[ACCOUNT] ([USERNAME])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_ACCOUNT]
GO
ALTER TABLE [dbo].[VEHICLE]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLE_USERS] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[VEHICLE] CHECK CONSTRAINT [FK_VEHICLE_USERS]
GO
/****** Object:  StoredProcedure [dbo].[INSERTDISTANCE]    Script Date: 12/19/2021 8:35:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTDISTANCE]
@TIMERECEIVE DATETIME,
@ID_VEHICLE VARCHAR(9),
@DIST FLOAT
AS
BEGIN
	
		INSERT INTO DISTANCE(ID_VEHICLE,DIST,TIMERECEIVE) VALUES (@ID_VEHICLE,@DIST,@TIMERECEIVE)
END
GO
/****** Object:  StoredProcedure [dbo].[REPORTDISTANCE]    Script Date: 12/19/2021 8:35:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[REPORTDISTANCE]
@ID_VEHICLE VARCHAR(9),
@MONTH INT,
@YEAR INT
AS
BEGIN
	
		SELECT DAY = DAY(TIMERECEIVE),DIST FROM DISTANCE WHERE ID_VEHICLE = @ID_VEHICLE AND MONTH(TIMERECEIVE) = @MONTH AND YEAR(TIMERECEIVE) = @YEAR
	
END
GO
/****** Object:  StoredProcedure [dbo].[REPORTSCHEDULE]    Script Date: 12/19/2021 8:35:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC	[dbo].[REPORTSCHEDULE]
@ID_VEHICLE VARCHAR(9)
AS
BEGIN
	
	SELECT [STATUS] ,SL = COUNT([STATUS]) FROM SCHEDULE
	WHERE VEHICLE_ID = @ID_VEHICLE
	GROUP BY [STATUS]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 12/19/2021 8:35:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOGIN]
@USERNAME VARCHAR(100),
@PASSWORD VARCHAR(32)
AS
BEGIN
	DECLARE @RES INT = 0
	SELECT TOP (1) @RES = 1 FROM ACCOUNT WHERE USERNAME = @USERNAME AND ACCOUNT.PASSWORD = @PASSWORD

	SELECT @RES
END
GO
/****** Object:  Trigger [dbo].[validateData]    Script Date: 12/19/2021 8:35:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[validateData] ON [dbo].[SCHEDULE] 
FOR INSERT
AS
BEGIN
	DECLARE @STARTTIME DATETIME
	DECLARE @FINISHTIME DATETIME
	DECLARE @FINISH DATETIME
	DECLARE @ID VARCHAR(9)

	SELECT @STARTTIME = START_TIME, @FINISHTIME = FINISH_TIME, @FINISH = FINISH, @ID = VEHICLE_ID FROM inserted
	
	IF (@FINISHTIME < @STARTTIME)
	BEGIN
		RAISERROR('Finish time must earlier than schedule',16,1)
		ROLLBACK
	END
	ELSE
	BEGIN
		DECLARE @CHECK BIT = 0
		SELECT TOP(1) @CHECK = 1 FROM SCHEDULE
		WHERE VEHICLE_ID = @ID AND ((@STARTTIME >= START_TIME AND @STARTTIME < FINISH_TIME) OR (@FINISHTIME > START_TIME AND @FINISHTIME <= FINISH_TIME))
			  AND (@STARTTIME <> START_TIME) AND [STATUS] <> -1
		IF (@CHECK = 1)
		BEGIN
			RAISERROR('Schedule not acceptable',16,1)
			
			ROLLBACK
		END

		SELECT 1
	END

END
GO
ALTER TABLE [dbo].[SCHEDULE] ENABLE TRIGGER [validateData]
GO
USE [master]
GO
